/*boton reservar cita*/

ul#top_access li a {
  color: #333; }
  ul#top_access li a:hover {
    color:  #00c3a5; }

#custom-search-input{
    width: 90%;
}

#custom-search-input ul li {
  display: block;
  text-align: left; 
  font-size: 17px;

}

.dropdown-menu{
  margin-top: 5px !important ;
}

#custom-search-input input[type='submit'] {
  position: relative;
  height: 45px;
  top:-2px;
 
  }

  .hero_home .content  {
    text-shadow: none;
  }

  .dropdown-item:hover, .dropdown-item:focus {
/*     color: #16181b;
    text-decoration: none; */
    background-color:  #96f3e4;
  }


.ciudad, .especialidad {
  height: 45px;
  padding-left: 20px;
  
  margin-bottom:10px;
}


/* .especialidad {
  width:360px;
  
} */

/* .ciudad {
  width:360px;
} */

/*login*/
#login {
  width: 400px;
  color: #fff;
}
@media (min-width: 320px) {
  #login {
    width: 85%;
    margin: 30px auto;
  }
}
@media (max-width: 320px) {
  #login {
    width: 95%;
    margin: 30px auto;
  }
  #login .box_form{
    padding: 10px 30px
  }
}
.box_form {
  background-color: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  color: #555;
}
.box_form label {
  font-weight: 600;
  font-size: 15px;
  /*font-size: 0.8125rem;*/
  margin-bottom: 3px;
}
.box_form .form-group {
  margin-bottom: 25px;
}

/*margin*/
.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .margin_60_35 {
    /* For less than 767px */
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

/*horarios*/
ul.time_select.version_2 li {
  float: left;
  width:20%;
}
ul.pac.time_select.version_2 li {
  float: left;
  width:50%;
}

ul.time_select li input[type="radio"] {
  display: none;
  cursor: pointer;
}
ul.time_select li input[type="radio"]:checked + label {
  background-color: #333;
  color: #fff;
}
ul.time_select li label {
  display: inline-block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 10px 6px 10px;
  line-height: 1;
  min-width: 100px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}


ul.time_select li label:hover {
  background-color: #e74e84;
  color: #fff;
}


/* .hero_home.version_1 .content {
  background-color:#00c3a5; 
} */

@media (max-width: 320px) {
  .especialidad {
    width:250px;    
  }
  .ciudad {
    width:250px;    
  }
  #custom-search-input input[type='submit'] {
    position: relative;
    width: 250px;
    height: 45px;
    top:0px;
  }
}

@media (min-width: 320px) {
  ul.time_select.version_2 li {
    width:50%;
  }
}

@media (min-width: 480px) { 
  ul.time_select.version_2 li {
    width:30%;
  }
  ul.pac.time_select.version_2 li {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .especialidad {
    width:260px;    
  }
  .ciudad {
    width:260px;    
  }
  #custom-search-input input[type='submit'] {
    position: relative;
    width: 260px;
    height: 45px;
    top:0px;
  }
}

@media (max-width: 768px) {
  .especialidad {
    width:360px;    
  }
  .ciudad {
    width:360px;    
  }
  #custom-search-input input[type='submit'] {
    position: relative;
    width: 360px;
    height: 45px;
    top:0px;
  }
}

@media (min-width: 768px) {
  ul.time_select.version_2 li {
    width:20%;
  }
}

/* .main-menu figure {
  width:40px;  
} */

@media (max-width: 991px) {
  .especialidad {
    width:440px;
  }
  .ciudad {
    width:440px;    
  }
  #custom-search-input input[type='submit'] {
    position: relative;
    width: 440px;
    height: 45px;
    top:0px;
  }
}
@media (max-width:992px) {
  .main-menu ul figure img {    
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top:20px;
    margin-left: 167px;    
  }
  .main-menu ul span {
    text-align: center;
  }
}

/** Especialidad - Ciudad - Buscar **/

@media (max-width: 1200px) {
  .especialidad {
    width:360px;    
  }
  .ciudad {
    width:360px;    
  }
}
@media (max-width: 991px) {
  #custom-search-input input[type='submit'] {
    position: relative;
    width: 100px;
    height: 45px;
    top:0px;
}
}